<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @consultation.first_name %><%= @consultation.last_name %></h3>
    <p><%= @consultation.number %></p>
    <p><%= @consultation.body %></p>
    <p><%= @consultation.created_at %></p>
  </body>
</html>