<p>Prime Corporate Services, LLC | (855) 577-4639 | 12226 S 1000 E Ste 10, Draper UT 84020</p>
<p><%= link_to "Entity Creation", entity_path %> | <%= link_to "Tax Service", tax_path %> | <%= link_to "Corporate Credit", corporate_credit_path %></p>
<p><%= link_to "Terms of Service", terms_path %> | <%= link_to "Privacy Policy", privacy_path %> | <%= link_to "Contact Us", contact_path %> | Copyright &copy; Prime Corporate Services 2017</p>