<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Name: <%= @review.full_name  %></h3>
    <p>Service Purchased:<%= @review.service_purchased %></p>
    <p>Customer Email:<%= @review.email %></p>
    <p>Review: <%= @review.body %></p>
    <p>Rating: <%= @review.rating %></p>
    <p>Submitted at:<%= @review.created_at %></p>
  </body>
</html>