<body class="index-body">
	<div class="container">
		<div class="average-rating">
			<h1>Average Customer Rating:</h1> <%= render_stars(round_point5(no_of_stars)) %>
			<h4>Here at Prime Corporate Services we care deeply about your positive feedback! Click the button below and leave a review!</h4>
		</div>
		<div class="leave-review-button-container1">
			<%= link_to "Leave A Review", new_review_path, class: "btn btn-lg btn-primary leave-review-button" %>
		</div>
	</div>

<div class="container">
<div class="row">
	<div class="col-md-8">
		<% @reviews.each do |review| %>
			<div class="card review-card-styles">
				<div class="card-block">
						<h2><%= link_to review.full_name.upcase, review_path(review.id) %></h2><h5>Published: <%= distance_of_time_in_words(review.created_at, Time.now) %> ago</h5><hr>
						<h3>Service: <%= review.service_purchased %></h3>
						<div class="review-card-scroll"><%= review.body %></div>
						<h3 class="rating-style-in-cards1">Rating:</h3> <h5 class="rating-style-in-cards2"><%= customer_star_rating(review.rating) %></h5>
						<%= link_to review.status, toggle_status_review_path(review), class: "btn btn-sm btn-primary" if logged_in?(:admin) %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-md-4">
		<div class="card info-card-style-review-page">
			<div class="card-block">
				<h5>Our dedicated staff works year-round to ensure that you receive the very best advice and service. We know and understand the strategies successful entrepreneurs follow and we take that knowledge and tailor it to work for your business along with your personal goals. We have help 10’s of thousands of clients with entity creation, taxes, and business credit, striving to be the easiest, most accurate, company to work with.</h5>
				<hr>
				<h5>"We are not happy when you pay the IRS more than you have to, and you shouldn't be either" -PCS</h5>
				<hr>
				<h5>Like what you see? Schedule a consultation and see how we can help you!</h5>
				<a href="/contact" class="btn btn-primary reveiw-page-btn-consultations" role="button" aria-disabled="true">Get A Consultation Today!</a>
			</div>
		</div>	
	</div>
</div>
</div>

<div class="container">
	<div class="leave-review-button-container2">
		<%= link_to "Leave A Review", new_review_path, class: "btn btn-lg btn-primary leave-review-button-bottom" %>
	</div>
</div>	
</body>
